
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    color: #ffff;
    background: rgb(4, 7, 46);
}
.main-content{
    max-width: 1200px;
    margin: 0rem auto;
    padding: 2rem;
}
.content{
    font-size: 1.5rem;
    color: #ffff;
    background: rgb(4, 7, 46);
    padding: 3rem;
    border-radius: 20px;
}
h1{
    text-align:center;
    font-size: 3rem;
    margin-bottom: 1rem;
   
}
.content img{
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 50%;
}
.img-text img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.content > div{
    flex-basis: 50%;
}
.img-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.first-content{
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-end;
}
.img-brand{
    margin-right: 1rem;
}
p{
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
}
.content-border{
    padding: 1rem;
    border-radius: 20px;
    border: gray 1px dotted;
}
h3 , h4{
    margin-bottom: 1rem;
}


/* gellary */
.gellary-content{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 0 auto;
    gap: 0.6rem;
    max-width: 1200px;
}
.gellary-content .column{
    flex-basis: 23.30%;
    max-width: 23.30%;
    border-radius: 2%;
    padding: 0.5rem;
    background-color: rgb(166 172 194 / 18%);
}

.column img{
    width: 100%;
    aspect-ratio: 3/4;
    object-fit: cover;
    filter: grayscale(100%);
    transition: all 0.5s ease;
}
.column img:hover{
    filter: grayscale(0);
}

/* media query */
@media (max-width: 576px) { 

    .main-content {
margin-top: 10px;
padding: 10px;
}
h1{
    text-align:center;
    font-size: 2rem;
 }
.content > div{
    flex-basis: 90%;
}
.content{
    justify-content: center;
    padding: 1rem;
}
.content img{
    height: 250px;
    width: 250px;
     }
     .img-text img{
    height: 80px;
    width: 80px;
 }
p{
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
}
.content > div{
    flex-basis: 90%;
}
.gellary-content{
    padding: 0.9rem;
 }
 .gellary-content > .column {
    flex-basis: 48.3%;
    max-width: 48.3%;
}

 }
 
@media (max-width: 767.98px) {  
.main-content {
margin-top: 10px;
padding: 10px;
}
h1{
    text-align:center;
    font-size: 2rem; }
.content img{
    height: 250px;
    width: 250px;
     }
     .img-text img{
    height: 80px;
    width: 80px;
 }
p{
    font-size: 12px;
    line-height: 20px;
    font-weight: normal;
}

.gellary-content > .column {
    flex-basis: 48.3%;
    min-width: 48.3%;
}
}

@media (max-width: 991.98px) {
    .content > div{
        flex-basis: 90%;
    }
    .gellary-content{
        padding: 1.5rem;
     }


    }